# Ignorar Git
.git/
.gitignore

# Ignorar Frontend (El backend no necesita esto)
client/
node_modules/

# Ignorar archivos compilados locales de .NET (Para que no choquen con Linux)
**/bin/
**/obj/
api/bin/
api/obj/

# Ignorar configuraciones de editor y secretos locales
.vscode/
.env
appsettings.Development.json
*.db